@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.gallery img {
    align-self: flex-start;
}

.long-form-text p {
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
}

.long-form-text a {
    text-decoration-line: underline;
}

.long-form-text li {
    margin-left: 2rem;
}

.long-form-text h3, .long-form-text h2 {
    font-size: 1.5rem;
    color: #495057;
    font-weight: 700;
}